@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&display=swap');

:root {
    --body-background-color: #a3dfdc;
    --header-background-color: #69b5b7;
    --all-font: font-family: 'Cherry Cream Soda', cursive;
    --font-1: 'Corben', cursive;
    --font-2: 'Fresca', sans-serif;
    --font-3: 'Cabin Sketch', cursive;
}

* {
    font-family: var(--font-1);
    user-select: none;
}


body {
    background-color: var(--body-background-color);
    /*     background-image: url(./img/background/nuvem.jpg);
    background-size: 100%;
    background-repeat: no-repeat; */
    /* background-attachment: fixed;
  text-align: center;/* 
  background-size: cover; */
}

header {
    background-color: var(--header-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 7rem;
    width: 100%;
    top: 0;
    left: 0;
    color: white;
    z-index: 9;
}

img {
    width: 7rem;
    height: 7rem;
}

.ice-cream {
    border-radius: .5rem;
    overflow: hidden;
    object-fit: cover;
    width: 18rem;
    height: 13rem;
}

.card {
    background-color: var(--header-background-color);
    width: 30rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    margin: 3rem;
    box-shadow: 0px 2px 10px 0rem white;

}

.unidades,
.pedir {
    margin: .5rem;
}

.unidades {
    border-radius: 1rem;
    width: 7rem;
    height: 1.5rem;
    text-align: center;
    background-color: aliceblue;
    border: 0;
}

.pedir {
    border-radius: .5rem;
    width: 7rem;
    height: 2rem;
    text-align: center;
    background-color: #c8dfe0;

    &:hover {
        background-color: #b1b2b3;
        transition: all .5s;
        cursor: pointer;
    }
}

.text {
    font-size: 14px;
}


.cards {
    display: flex;
    justify-content: center;
    padding-top: 3.5rem;
    margin: 2.5rem;
}

p {
    margin-left: 2rem;
    margin-right: 2rem;
}

.value{
    font-size: bolder;
    font-weight: 600;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.opc-header {
    background-color: #3e4f50;
    width: 8rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6rem;

    &:hover {
        background-color: #212b2c;
        transition: all .5s;
        cursor: pointer;
    }
}

footer {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: inherit;
}

#reserva{
    background-color:#212b2c;
    box-shadow: 0px 2px 10px 0rem #212b2c;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-end;
}

.date{
    display: flex;
    flex-direction: column;
}

.label, .input{
    margin: .2rem;
    text-align: center;
    border-radius: 1rem;
    overflow: hidden;
    object-fit: cover;
    width: 18rem;
    font-size: 20px;
    height: auto;
    padding-right: .5rem;
    padding-left: .5rem;
}